{% extends 'base/base.html' %}

{% block sidebar_content %}
<li>
    <a href="#destinoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Destinos</a>
    <ul class="collapse list-unstyled" id="destinoSubmenu">
        <li>
            <a href="#">Registro</a>
        </li>
        <li>
            <a href="#">Control</a>
        </li>
    </ul>
</li>
<li>
    <a href="#hospedajeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Hospedajes</a>
    <ul class="collapse list-unstyled" id="hospedajeSubmenu">
        <li>
            <a href="#">Registro</a>
        </li>
        <li>
            <a href="#">Control</a>
        </li>
    </ul>
</li>
<li>
    <a href="#vehiculoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Vehiculos</a>
    <ul class="collapse list-unstyled" id="vehiculoSubmenu">
        <li>
            <a href="{%url 'registrar_vehiculo'%}">Registro</a>
        </li>
        <li>
            <a href="{%url 'control_vehiculos'%}">Control</a>
        </li>
    </ul>
</li>
{%endblock%}