{% extends 'base/base_operativa.html'%}

{% block titulo %}Control de Fechas y Destinos{% endblock %}

{% block main_content %}


<div class="row">
	<h4>Control de Fechas y Destinos</h4>
</div>
<br>
<div class="row">
	<div class="col-md8">
		<form method="post" action="{%url 'control_fecha'%}">
		{% csrf_token %}
		<table class="mx-3">
			<tr>
				<th><label for="fechaI">Fecha de Inicio de Salida de Excursion</label></th>
				<td><input type="date" name="fechaI" class="form-control" value="{{fechaInicio|date:'Y-m-d'}}" required=""></td>
			</tr>
			<tr>
				<th><label for="fechaF">Fecha de Fin de Salida de Excursion</label></th>
				<td><input type="date" name="fechaF" class="form-control" value="{{fechaFin|date:'Y-m-d'}}" required=""></td>
			</tr>
		</table>
		<br>
		<input type="submit" name="submit" value="Buscar">
		<input type="submit" name="submit" value="Generar">
		</form>
	</div>
	{% if errores %}
	<div class="col-md4 mx-auto">
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Error!</strong>
			<ul>
				{% for error in errores %}
					<li>{{error}}</li>
				{% endfor %}
				
			</ul>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	{% endif %}
</div>
<br>
{% if destinos %}
<br><br>
<div class="row">
	<h4>Resultados</h4>
</div>
<br>
<div class="row">
	<table class="table">
		<tr>
			<th>Tipo Destino</th>
			<th>Cantidad de Viajes</th>
			<th>Ganancia Generada</th>
		</tr>
		{% for destino in destinos %}
			<tr>
				<td>{{destino.0}}</td>
				<td>{{destino.1}}</td>
				<td>{{destino.2}}</td>
			</tr>
		{% endfor %}
	</table>
	<br>
</div>
{% endif %}
{% endblock %}