{% extends 'base/base_operativa.html'%}

{% block titulo %}Registro de Destino{% endblock %}

{% block main_content %}
{% if msg %}
<div class="row">
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		{{msg}}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>
{% endif %}
<div class="row">
	<div class="col-md-8">
		<h4>Registro de Destino</h4>
		<br>
		<form method="POST" action="{%url 'registrar_destino'%}">
			{% csrf_token %}
			<table class="ml-3 p-2">
				{{form.as_table}}
			</table>
			<br>
			<input type="submit" name="submit" value="Guardar">
		</form>
		<br><br><br>
	</div>
	{% if form.subject.errors %}
	<div class="col-md-4">
		{{ form.name_of_field.errors }}
	</div>
	{% endif %}
</div>
{% endblock %}
