{% extends "base/base_reporte.html" %}

{% block titulo-reporte %}
    Reporte de Control de Destinos
{% endblock titulo-reporte %}

{% block subtitulo-reporte %}
    Generado el {{fechaHoy|date:"d-m-Y"}}.
    <p class="texto-sub" style="text-align: center;">
        Desde el {{fechaInicio|date:"d-m-Y"}}, Hasta el {{fechaFin|date:"d-m-Y"}}
    </p>
    <p class="texto-sub" style="text-align: center;">
        Tipo: {{tipo}}, 
        Departamento: {{departamento}}
    </p>
    <p class="texto-sub" style="text-align: center;"></p>
{% endblock subtitulo-reporte %}

{% block contenido-reporte %}
    
    <table class="table" style="text-align: center">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Departamento</th>
            <th>Fecha de Registro</th>
        </tr>
        </thead>
        <tbody>
        {% for destino in destinos %}
            <tr>
                <td>{{destino.nombre_destino}}</td>
                <td>{{destino.tipo_destino}}</td>
                <td>{{destino.departamento_destino}}</td>
                <td>{{destino.fecha_registro_destino|date:"d-m-Y"}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock contenido-reporte %}